@media ( max-width: 380px)
    #section-products
        margin: 0
        justify-content: center
    #aside-shop
        position: absolute
        z-index: 1000
        width: 100%
        right: 0
        height: calc(100% - 3.5rem)
        visibility: hidden

    #aside-index
        display: none
    #section-search input
        width: 58%
@media (min-width: 380px) and (max-width: 430px)
    #section-products
        margin: 0
        justify-content: center
    #aside-shop
        position: absolute

@media (min-width: 1366px) 
