@media ( max-width: 380px)
    #index
        display: none
    #aside-shop
        display: none

@media (min-width: 380px) and (max-width: 500px)
    #index
        display: flex
    #aside-shop
        display: none

@media (min-width: 500px) and (max-width: 700px)                
    #aside-index
        display: flex
    #aside-shop
        position: absolute
        z-index: 1000
        display: flex
        width: 100%
        height: calc( 100% - 3.5rem )
    
 @media (min-width: 700px) and (max-width: 1280px) 
    #aside-shop
        flex: 1
        
