* {    
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav{
    background-color: #00b19d;
    height: 4rem;
}
.container-body{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.container-main{
    display: flex;
    flex-flow: row;
    height: 100%;
    
}
#index{
    background-color: #ffffff;
    height: 100%;
    width: 4rem;
}
#index button{
    background-color: #00b19d;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 2px 3px 3px grey;
}
main{
    background-color: rgb(238, 234, 234);
    height: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
}

#search{
    position: relative;
    top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 3rem;
    width: 100%;
    /* border: 2px solid #00b19d; */
    display: flex;
    justify-content: center !important;
}
#search button{
    width: 3rem;
    height: 2rem;
    background-color: #00b19d;
    border: none;
}
#search input{
    height: 2rem;
    width: 40%;
    border: none;
    border: 2px solid #00b19d;
}

#products{
    margin-top: 2rem;
    flex: 1;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
  
}
#products article{
    background-color: rgb(255, 255, 255);
    width: 12rem;
    height: 18rem;
    margin: 2rem;
    border: 1px solid #00b19d;
    position: relative;
    box-shadow: 5px 5px 5px grey;
}
.cod{
    position: absolute;
    right: 0;
    left: 10%;
    /* border: 1px solid yellow; */
    background-color: #ffffff;
    color: #00b19d;
    top: 6%;
    width: 2.6rem;
    height: 1.2rem;
}
article h5{
    color: rgb(143, 140, 140);
    text-align: center;
    display: flex;
    flex-flow: column;
    position: absolute;  
    right: 10rem;
    /* border: 1px solid yellow; */
    left: 0;
    position: relative; 
    margin: 1rem;
    top: -4%;
}
article h6 {
    right: 10rem;
    /* border: 1px solid yellow; */
    left: 0;
    position: relative;
    color: black;
    height: 1rem;
    text-align: center;
    top: -5%;
}
.inv{
    position: absolute;
    right: 0;
    left: 8.5rem;
    /* border: 1px solid yellow; */
    background-color: #ffffff;
    color: #00b19d;
    top: 10.2rem;
    width: 2.6rem;
    height: 1.2rem;
}
.est{
    position: absolute;
    right: 10%;
    left: 78%;
    /* border: 1px solid yellow; */
    background-color: #ffffff;
    color: #00b19d;
    top: 10%;
    width: 2rem;
    height: 1.2rem;
}
article button{
    position: absolute;
    right: 10%;
    left: 91%;
    /* border: 1px solid yellow; */
    background-color: #ffffff;
    color: #00b19d;
    top:  -3.5%;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid;
    box-shadow: 1px 3px 3px grey;
}

#shop{
    background-color: rgb(247, 247, 247);
    height: 100%;
    flex: .5;
    /* border: 1px solid red; */
    
}
#shop h3{
    background-color: #809bb6;
    height: 2rem;
    text-align: center; 
    /* border: 1px solid red; */
    position: relative;
    margin: 0;
}
.data{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    left: 10rem;
    justify-content: space-between;
}
.data article{
    width: 47%;
    display: flex;    
    flex-flow: row;
    flex-wrap: wrap;
    border: none;    
    outline: none;
    margin: 1%;
    color: grey;
}
.data article input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
    background-color: rgb(247, 247, 247);
}
.bote{
    text-align: center;
    position: relative;
    top: 1rem;
    margin-top: 1rem;
}
.bote small{
    position: absolute;
    left: 2%;
    color: gray;
    top: -1rem;
}
.bote span h4{
    position: absolute;
    left: 71%;
    color: gray;
    top: -1rem;

}
.material-icons{
    position: absolute;
    left: 89%;
    color: grey;
}
.bote button{
    border-radius: 2rem;
    background-color: #ffffff;
    border: 1px solid ;
    width: 2rem;
    height: 2rem;
}
#bo{
    border: 2px solid #00b19d;
    color: #00b19d;
}
#to{
    border: none;
    color: #00b19d;
    box-shadow: 1px 3px 3px grey;
}
footer{
    background-color: rgb(238, 234, 234);
    position: fixed;
    bottom: 0;
    height: 7rem;
    width: 100%;
    display: flex;
    flex-flow: column;
}
img{
    object-fit: cover;
    /* border: 1px solid red; */
    height: 10rem;
    margin: 1.2rem;
    width: 9.5rem;
}
#sale_button{
    background-color: #00b19d;
    height: 2.5rem;
    margin: 1rem;
    width: 30.5%;
    border-radius: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.but{
    height: 2rem;
    width: 4rem;
    background-color: #00b19d;
    top: 0;
    position: relative;
    margin: 0.2rem;
    border: none;
    border-radius: 1rem;
}
#sale_button span{
    right: 8rem;
    left: 4rem;
    margin: 0.7rem;
}
#cancelar{
    background-color: #809bb6;
    height: 2.7rem; 
    width: 32.5%;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
}
.can{
    height: 2rem;
    width: 4rem;
    position: relative;
    margin: 0.4rem;
    border: none;
    border-radius: 1rem;
    background-color: #809bb6;
    
}
#cancelar span{
    right: 8rem;
    left: 4rem;
    margin: 0.8rem;
}

